.morning {
    background-color: #0069d9;
}
.branch{
    background-color: #28a745;
}
.lunch {
    background-color: #ffc107;
}
.four {
    background-color: #dc3545;
}
.evening {
    background-color: #17a2b8;
}
h3 {
    text-size: 12px;
}
h5 {
    width: 120px;
    margin: 10px auto;
}