.ant-time-picker-panel-input-wrap{
    direction: ltr !important;
}
.mealWrap {
    border-top: 1px solid black;
    background: rgb(255,255,255, 0.6);
    margin-top: 10px;
}
.mealWrap div {
    margin-top: 20px;
}
.ant-time-picker-icon {
    display: none;
}
.ant-time-picker i {
    display: none;
}
.ant-time-picker-panel-combobox li{
    text-align: initial;
}