input {
    border: none;
    width: 19px;
}
span.ant-time-picker {
    direction: ltr !important;
}
#mealWrap {
    border: 1px solid black;
}
.morning {

}
.branch{

}
.lunch {

}
.four {

}
.evening {
    
}