.morning {
    background-color: yellow;
}
.branch{
    background-color: orange;
}
.lunch {
    background-color: teal;
}
.four {
    background-color: green;
}
.evening {
    background-color: greenyellow;
}
h3 {
    text-size: 12px;
}