.table-responsive {
    padding: 20px 40px 0px 40px;
}
.tableWrapper {
    margin: 0 150px;
}
th {
    width: 120px;
    background: rgba(249, 184, 184, 0.6);
}
.weekWrapper {
    background: rgba(123, 90, 115, 0.6);
}